{% load static %}
{# Reports helpers and the app shell (navigation, sidebar, routing). Line order is script load order; do not reorder. #}
<script src="{% static 'js/reports/utils.js' %}?v=1784452207"></script>
<script src="{% static 'js/reports/pdf.js' %}?v=1784452207"></script>
<script src="{% static 'js/reports/charts.js' %}?v=1784452207"></script>
<script src="{% static 'js/reports/yearly.js' %}?v=1784452207"></script>
<script src="{% static 'js/reports/index/tabs.js' %}?v=1784452207"></script>
<script src="{% static 'js/reports/index/data.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/companies.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/banks.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/utils/tabs/breadcrumb.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/utils/tabs/shell.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/utils/tabs/more_menu.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/utils/collapsible.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/chart_crosshair/helpers.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/chart_crosshair/plugin.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/formatting.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/theme.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/permissions.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/loading.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/toast.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/center_alert.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/modals.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/authentication.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/navigation.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/routing.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/route_dispatch.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/topbar.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/sidebar/nav_primary.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/sidebar/nav_modules.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/sidebar/nav_expenses_reports.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/sidebar/nav_settings.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/sidebar/render.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/sidebar/footer.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/sidebar/modes.js' %}?v=1784452207"></script>
<script src="{% static 'js/app/index.js' %}?v=1784452207"></script>
