{% load static %}
{# Financial Advisor tab features. Line order is script load order; do not reorder. #}
<script src="{% static 'js/financial_advisor/utils.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/cash_flow_forecast/states.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/cash_flow_forecast/timeline.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/cash_flow_forecast/cash_flow.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/cash_flow_forecast/cash_flow_custom_projection.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/wealth_growth_forecast/charts.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/wealth_growth_forecast/fragments.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/wealth_growth_forecast/wealth_growth.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/portfolio_optimizer/charts.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/portfolio_optimizer/fragments.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/portfolio_optimizer/portfolio_optimizer.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/goal_planning/charts.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/goal_planning/ui.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/goal_planning/ui_sections.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/goal_planning/modal.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/goal_planning/goal_planning_cards.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/goal_planning/goal_planning_modal.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/goal_planning/goal_planning_modal_events.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/goal_planning/goal_planning_main.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/overview/overview_charts.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/overview/overview_cards_kpi.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/overview/overview_cards_row3.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/overview/overview_cards_row4.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/overview/overview_cards_summary.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/overview/overview_render_helpers.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/overview/overview_render_lists.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/overview/overview_render_row1.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/overview/overview_render_main.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/overview/overview.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/risk_analysis/state.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/risk_analysis/render_loading_error.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/risk_analysis/render_template.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/risk_analysis/fragments.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/risk_analysis/render_main.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/risk_analysis/radar_chart.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/risk_analysis/income_chart.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/risk_analysis/loader.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/spending_intelligence/spending_intelligence_render.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/spending_intelligence/render_loading_error.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/spending_intelligence/build_category_donut.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/spending_intelligence/build_findings_insights_trend.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/spending_intelligence/render_template.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/spending_intelligence/fragments.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/spending_intelligence/render_main.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/spending_intelligence/loader.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/opportunity_detection/opportunity_detection_helpers.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/opportunity_detection/opportunity_detection_card.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/opportunity_detection/opportunity_detection_render.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/performance/performance_charts.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/performance/performance_format.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/performance/performance_state.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/performance/performance_sections_gold.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/performance/performance_sections_currency.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/performance/performance_view.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/performance/performance_events.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/what_if_simulator/what_if_chart/helpers.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/what_if_simulator/what_if_chart/comparison.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/what_if_simulator/what_if_chart/render.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/what_if_simulator/what_if_state.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/what_if_simulator/what_if_recalc.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/what_if_simulator/what_if_view.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/what_if_simulator/what_if_events.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/scenario_planner/scenario_planner_chart.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/scenario_planner/state.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/scenario_planner/api.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/scenario_planner/render_view.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/scenario_planner/render_timeline_rail.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/scenario_planner/render_builder.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/scenario_planner/render_dashboard.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/scenario_planner/render_compare_insights.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/scenario_planner/events.js' %}?v=1790000001"></script>
<script src="{% static 'js/financial_advisor/scenario_planner/modal_actions.js' %}?v=1790000001"></script>
