{% load static %}
{# WealthFlow AI workspace. Line order is script load order; do not reorder. #}
<script src="{% static 'js/ai/ai_core.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/ai_markdown.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/ai_status.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/ai_messages.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/ai_progress.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/ai_context_panel_helpers.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/ai_context_panel.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/ai_conversations.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/ai_conversations_actions.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/ai_chat_submit.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/ai_shell.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/prompt_library/pl_state.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/prompt_library/pl_render_modal_shell.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/prompt_library/pl_render_list.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/prompt_library/pl_render_toolbar.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/prompt_library/pl_render_detail.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/prompt_library/pl_actions_optimistic.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/prompt_library/pl_actions.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/prompt_library/pl_events.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/knowledge_base/kb_state.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/knowledge_base/kb_render.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/knowledge_base/kb_events.js' %}?v=1784452207"></script>
<script src="{% static 'js/ai/dataset_manager/dm_state.js' %}?v=1784452208"></script>
<script src="{% static 'js/ai/dataset_manager/dm_render.js' %}?v=1784452208"></script>
<script src="{% static 'js/ai/dataset_manager/dm_events.js' %}?v=1784452208"></script>
<script src="{% static 'js/ai/model_management/mm_state.js' %}?v=1784452208"></script>
<script src="{% static 'js/ai/model_management/mm_render.js' %}?v=1784452208"></script>
<script src="{% static 'js/ai/model_management/mm_events.js' %}?v=1784452208"></script>
<script src="{% static 'js/ai/benchmark_results/br_state.js' %}?v=1784452208"></script>
<script src="{% static 'js/ai/benchmark_results/br_render.js' %}?v=1784452208"></script>
<script src="{% static 'js/ai/benchmark_results/br_events.js' %}?v=1784452208"></script>
<script src="{% static 'js/ai/pinned_chats/pc_state.js' %}?v=1784452209"></script>
<script src="{% static 'js/ai/pinned_chats/pc_render.js' %}?v=1784452209"></script>
<script src="{% static 'js/ai/pinned_chats/pc_events.js' %}?v=1784452209"></script>
<script src="{% static 'js/ai/knowledge_search/ks_state_core.js' %}?v=1787225686"></script>
<script src="{% static 'js/ai/knowledge_search/ks_state_edit.js' %}?v=1787225686"></script>
<script src="{% static 'js/ai/knowledge_search/ks_state_actions.js' %}?v=1787225686"></script>
<script src="{% static 'js/ai/knowledge_search/ks_render.js' %}?v=1787225686"></script>
<script src="{% static 'js/ai/knowledge_search/ks_events.js' %}?v=1787225686"></script>
