{% load static %}
{# Financial Advisor core, documents and companies. Line order is script load order; do not reorder. #}
<script src="{% static 'js/financial_advisor/api.js' %}?v=1784452207"></script>
<script src="{% static 'js/financial_advisor/calculations.js' %}?v=1784452207"></script>
<script src="{% static 'js/financial_advisor/tab_panes.js' %}?v=1784452207"></script>
<script src="{% static 'js/financial_advisor/render.js' %}?v=1784452207"></script>
<script src="{% static 'js/financial_advisor/index.js' %}?v=1784452207"></script>
<script src="{% static 'js/documents/doc_state.js' %}?v=1784452207"></script>
<script src="{% static 'js/documents/doc_list.js' %}?v=1784452207"></script>
<script src="{% static 'js/documents/doc_upload.js' %}?v=1784452207"></script>
<script src="{% static 'js/documents/doc_view.js' %}?v=1784452207"></script>
<script src="{% static 'js/documents/doc_replace.js' %}?v=1784452207"></script>
<script src="{% static 'js/documents/doc_remove.js' %}?v=1784452207"></script>
<script src="{% static 'js/companies/render.js' %}?v=1784452207"></script>
<script src="{% static 'js/companies/modal.js' %}?v=1784452207"></script>
<script src="{% static 'js/companies/actions.js' %}?v=1784452207"></script>
