{% load static %}
{# Salary and Balance modules. Line order is script load order; do not reorder. #}
<script src="{% static 'js/salary/utils.js' %}?v=1784452207"></script>
<script src="{% static 'js/salary/api.js' %}?v=1784452207"></script>
<script src="{% static 'js/salary/table.js' %}?v=1784452207"></script>
<script src="{% static 'js/salary/payroll.js' %}?v=1784452207"></script>
<script src="{% static 'js/salary/perdiem/list.js' %}?v=1784452207"></script>
<script src="{% static 'js/salary/perdiem/form.js' %}?v=1784452207"></script>
<script src="{% static 'js/salary/modal.js' %}?v=1784452207"></script>
<script src="{% static 'js/salary/dashboard_render.js' %}?v=1784452207"></script>
<script src="{% static 'js/salary/dashboard_enhancements.js' %}?v=1784452207"></script>
<script src="{% static 'js/salary/employment_page.js' %}?v=1784452207"></script>
<script src="{% static 'js/salary/year_pills.js' %}?v=1784452207"></script>
<script src="{% static 'js/salary/index.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/utils.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/api.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/calculations.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/analytics.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/charts.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/dashboard.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/modal.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/overview.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/allocation.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/forecasts.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/recommendations.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/accounts.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/transfers/render.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/transfers/form/modal.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/transfers/form/persist.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/currency_exchange/state_and_title.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/currency_exchange/render_main.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/currency_exchange/exchange_modal.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/currency_exchange/backend_calc_save_delete.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/currency_exchange/filters_table.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/bank_interest/render.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/bank_interest/modal.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/bank_interest/api.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/credit_card_payment/render.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/credit_card_payment/modal.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/credit_card_payment/api.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/card_renewal_fee/render.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/card_renewal_fee/modal.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/card_renewal_fee/api.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/index_fetch.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/index_derive.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/index_recommendations.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/index_trend_health.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/index_labels.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/index_shell.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/index_events.js' %}?v=1784452207"></script>
<script src="{% static 'js/balance/index.js' %}?v=1784452207"></script>
