{% load static %}
{# Fixed Assets module. Line order is script load order; do not reorder. #}
<script src="{% static 'js/fixed_assets/utils.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/gold/units.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/gold/dashboard.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/gold/settings.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/api.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/charts/metrics.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/charts/draw.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/tabs.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/list/render.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/list/gold_groups.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/dashboard.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/analytics_render.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/reports.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/analytics_metrics.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/analytics_charts.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/modal.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/currency/rates.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/currency/options.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/calculations.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/purchase_payments.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/sale.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/sale_tabs.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/mortgage.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/rental.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/acquisition_costs.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/acquisition_costs_collect.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/renovations/summary.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/renovations/rows.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/renovations_collect.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/furniture_summary.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/furniture_row.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/valuation.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/valuation_sync.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/vehicle.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/gold_details.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/other_assets.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/maintenance.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/insurance.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/property.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/map/property_map.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/map/photo_gallery.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/map/geocoding.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/validation/sync_helpers.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/validation/sale_form.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/validation/lifecycle.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/validation/save_asset/build_payload.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/validation/save_asset/submit.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/validation/save_asset/photos.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/validation/save_asset.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/validation/sale_modal.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/validation/submit_sale_misc.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/details_shared_tabs.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/details_insurance_sale_tabs.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/details_property_tab.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/details_property_other_tabs.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/details_asset_types.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/details_modal_nav1.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/details_modal_nav2.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/details_modal_html.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/details_modal_events.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/details_modal.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/asset_detail_view/non_real_estate_core_tab.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/asset_detail_view/non_real_estate_modal.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/asset_detail_view/general_property_tabs.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/asset_detail_view/photos_renovation_acquisition_tabs.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/asset_detail_view/tabs/furniture_pane.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/asset_detail_view/tabs/valuation_pane.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/asset_detail_view/tabs/mortgage_rental_panes.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/asset_detail_view/tabs/sale_pane_and_footer.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/asset_detail_view/furniture_valuation_mortgage_rental_sale_tabs.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/asset_detail_view/modal_shell.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/asset_detail_view/entry.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/load_asset.js' %}?v=1784452207"></script>
<script src="{% static 'js/fixed_assets/index.js' %}?v=1784452207"></script>
