{% load static %}
{# Settings and Billing modules. Line order is script load order; do not reorder. #}
<script src="{% static 'js/settings/utils.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/smtp.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/app_settings.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/email_templates/list.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/email_templates/modal.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/cert_status_settings.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/cert_status_actions.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/gold_settings.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/gold_purity.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/property_valuation.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/property_valuation_scrape.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/translations/languages/list.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/translations/languages/modal.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/translations/translations_editor.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/translations/translations_coverage.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/currencies.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/companies/render.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/companies/modal.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/companies/actions.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/banks.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/users/list.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/users/actions.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/permissions.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/roles/render.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/dashboard.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/backup_restore/render.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/backup_restore/download_upload.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/backup_restore/server_actions.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/backup_restore/helpers.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/vendor_assets_update.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/documentation/documentation_layout.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/documentation/documentation_history.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/documentation/documentation_state.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/documentation/documentation_validation.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/documentation/documentation_actions.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/documentation/documentation_poll.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/ai_advisor/state.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/ai_advisor/render_settings_form.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/ai_advisor/render_settings.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/ai_advisor/provider_fields.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/ai_advisor/connection_test.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/ai_advisor/diagnostics_model_select.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/ai_advisor/save_settings.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/ai_advisor/platform_overview_actions.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/billing/render.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/billing/plan_crud.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/billing/edit_modal.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/billing/price_actions.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/billing/gateway_settings.js' %}?v=1784452207"></script>
<script src="{% static 'js/billing/trial_banner.js' %}?v=1784452207"></script>
<script src="{% static 'js/billing/plans_page.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/index.js' %}?v=1784452207"></script>
<script src="{% static 'js/settings/window_exports.js' %}?v=1784452207"></script>
