{% load static %}
{# Bank certificates, exchange rates, gold price, expenses, reminders and advanced reports. Line order is script load order; do not reorder. #}
<script src="{% static 'js/bank_certificates/utils.js' %}?v=1784452207"></script>
<script src="{% static 'js/bank_certificates/api.js' %}?v=1784452207"></script>
<script src="{% static 'js/bank_certificates/calculations.js' %}?v=1784452207"></script>
<script src="{% static 'js/bank_certificates/interest.js' %}?v=1784452207"></script>
<script src="{% static 'js/bank_certificates/modal.js' %}?v=1784452207"></script>
<script src="{% static 'js/bank_certificates/list_view.js' %}?v=1784452207"></script>
<script src="{% static 'js/bank_certificates/interest_history.js' %}?v=1784452207"></script>
<script src="{% static 'js/exchange_rates/rates_meta.js' %}?v=1784452207"></script>
<script src="{% static 'js/exchange_rates/rates_render.js' %}?v=1784452207"></script>
<script src="{% static 'js/exchange_rates/index.js' %}?v=1784452207"></script>
<script src="{% static 'js/gold_price/index.js' %}?v=1784452207"></script>
<script src="{% static 'js/gold_price/refresh.js' %}?v=1784452207"></script>
<script src="{% static 'js/expenses/utils.js' %}?v=1784452207"></script>
<script src="{% static 'js/expenses/api.js' %}?v=1784452207"></script>
<script src="{% static 'js/expenses/reports.js' %}?v=1784452207"></script>
<script src="{% static 'js/expenses/categories.js' %}?v=1784452207"></script>
<script src="{% static 'js/expenses/subcategories.js' %}?v=1784452207"></script>
<script src="{% static 'js/expenses/modal.js' %}?v=1784452207"></script>
<script src="{% static 'js/expenses/dashboard.js' %}?v=1784452207"></script>
<script src="{% static 'js/expenses/table.js' %}?v=1784452207"></script>
<script src="{% static 'js/expenses/filters.js' %}?v=1784452207"></script>
<script src="{% static 'js/expenses/index.js' %}?v=1784452207"></script>
<script src="{% static 'js/reminders/api.js' %}?v=1784452207"></script>
<script src="{% static 'js/reminders/rules.js' %}?v=1784452207"></script>
<script src="{% static 'js/reminders/banner.js' %}?v=1784452207"></script>
<script src="{% static 'js/reminders/index.js' %}?v=1784452207"></script>
<script src="{% static 'js/advanced_reports/charts.js' %}?v=1784452207"></script>
<script src="{% static 'js/advanced_reports/salary.js' %}?v=1784452207"></script>
<script src="{% static 'js/advanced_reports/balance.js' %}?v=1784452207"></script>
<script src="{% static 'js/advanced_reports/certificates.js' %}?v=1784452207"></script>
<script src="{% static 'js/advanced_reports/index.js' %}?v=1784452207"></script>
